/**Remoção de margem no cabeçalho**/

*{
  margin: 0px;
  border: 0px;
  padding: 0px;
}
/**cor de fundo do cabeçalho e alinhamento da imagem**/
#imagem-topo{
  background-color: #ADD8E6;
  text-align: center;
}
/**alinhamento dos parágrafos**/
p{
  padding:25px;
  text-align: justify;
  font-family: Arial;
}
/**alinhamento/fonte/cor do título e sub-título**/
h1, h2{
 
  text-align: center;
  font-family: Arial;
  color:#4682B4;
}
/**fonte de h3**/
h3{
 font-family: Arial;
}
/**Alinhamento e cor de fundo do rodapé**/
footer{
background-color: #ADD8E6;
text-align: center;
}
/**Proporção da imagem no cabeçalho**/
img{
width: 30%;
height:30%;
}
/**Diminuição tamanho fonte contato**/
.contato{
font-size: 1em;
}
/**Alinhamento, cor e fonte da class cliente**/
.cliente{
  text-align: center;
  color:#4682B4;
  font-family: arial;
}